@page {
    size: A4;
}

h1 {
    page-break-before: always;
}

/* pre,
code {
    page-break-inside: avoid;
} */

img {
    page-break-inside: avoid;
}


/* 
@page: right {
    @bottom-right {
        content: counter(page);
    }
} */

@page: left {
    @bottom-left {
        content: "Page " counter(page) " of " counter(pages);
    }
}